body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: 'Karla', sans-serif;
    color: #333;
}

body{
    background-color: #94d1d13b;
    padding:10px;
}


h2 {
    font-size: 180%;
    margin: 0;
}

h2,
h4 {
    font-weight: normal;
}

h4 {
    display: inline-block;
    font-size: 80%;
}

/* Filter and search options */

#price-range {
    width: 370px;
    margin: 10px auto 30px auto;
    text-align: center;
    font-weight: bold;
}

#value-min,
#value-max {
    width: 100px;
}

#slider {
    margin: 30px 0 30px 0;
}

input[type="number"] {
    margin: 0 10px 0 10px;
}

/* Filter and search options */

#buttons,
#search {
    text-align: center;
    margin-bottom: 30px;
}

/* Filter buttons */

button {
    background-color: #d7d7d7;
    border: none;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;
    color: #333;
    font-family: 'Karla', sans-serif;
    font-size: 100%;
}

button:hover,
button.active {
    background-color: #00cccc;
    color: #fff;
    cursor: pointer;
}

/* Search input */

input {
    font-size: 120%;
    border: 1px solid #999;
    padding: 5px;
}

input:hover {
    border: 1px solid #666;
}

input:focus {
    border: 1px solid #00cccc;
    outline: none;
}


/* Table styles */

table {
    margin: 0 auto;
    width: 780px;
}

table#rates {
    width: 380px;
}

th,
td {
    padding: 10px;
}
